.home-container1 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
 
.home-container2 {
  width: 30%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 1006px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-container3 {
  width: 1151px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100px;
  display: flex;
  align-items: flex-start;
}
 
.home-container4 {
  width: 30%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 1006px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-link {
  display: contents;
}
 
.home-container5 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.home-icon1 {
  width: 24px;
  margin-right: 4px;
}
 
.home-text {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}